.ico{
  float: left;
  position: absolute;
  margin-top: 0.6%;
  margin-left: 50px;
  left: 0;
  z-index: 10;
}

.phone{
  display: flex;
  float: right;
  flex-direction: column;

  margin-top: 22px;
}
.phone img{
  display: inline;
  padding: 4px;
  height: 25px;
}
.phone a{
  text-decoration: none;

  padding-left: 16px;
  padding-right: 50px;
  float: right;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #072532;
}
.phone p{
  padding-left: 16px;
  padding-top: 2px;
}

.nav-bar{
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid  #35ADD3;
  transition: all 0.3s ease 0s;
  z-index: 5;
}
.nav-bar ul {
  text-align: center;
  display: inline-flex;
  list-style: none;

}
.nav-bar ul li {
  padding: 10px;
  list-style-type: none;
  display: inline-block;
  width: 210px;
}
.nav-bar ul li:hover {
  background-color: #35ADD3;
  color: white;
}
.nav-bar ul a {
  margin: 1.2%;
  color: inherit;
}
.nav-bar ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}



.header-nav{
    border-radius: 24px;
}
.header-wth-sub-nav {
  margin: 1.2%;
}
.header-wth-sub-nav p{
  width: 163px;
}
.header-wth-sub-nav:hover {
  border-radius: 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.sub-nav-bar {
  display: none;
  z-index: 10;
}
.nav-bar ul li:hover .sub-nav-bar {
  display: block;
  position: absolute;
  background: #35ADD3;
  margin-top: 10px;
  margin-left: -10px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.nav-bar ul li:hover .sub-nav-bar ul {
  width: 163px;
  display: block;
  margin: 10px;

}
.nav-bar ul li:hover .sub-nav-bar ul li {
 color: white;
  width: 148px;
  padding: 10px;
  text-align: left;
  z-index: 10;
}
.nav-bar ul li:hover .sub-nav-bar ul li:hover:last-child {
  border-bottom-right-radius: 0;
}
.nav-bar ul li:hover .sub-nav-bar ul li a:hover {
  border-bottom: 1px solid white;
}

.sub-sub-nav-bar{
  display: none;
}
.hover-me:hover .sub-sub-nav-bar{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 135px;
  background-color: rgb(102, 198, 255);
  border-radius: 0 24px 24px 24px;
}
.hover-me:hover .sub-sub-nav-bar ul li:hover{
  background-color: rgba(255,255,255,0);
}

@media (max-width: 1024px) {
  .ico{
    float: none;
    width: 53px;
    margin-left: 12px;
    margin-top: 3px;
    position: relative;
    display: block;
  }

  .header-burger{
    display: block;
    margin-top: 18px;
    margin-right: 12px;
    position: relative;
    width: 28px;
    height: 20px;
    float: right;

    z-index: 15;
  }

  .header-burger span {
    background-color: #35ADD3;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before,
  .header-burger:after{
    content: '';
    background-color: #35ADD3;
    position: absolute;
    width: 100%;
    height: 1px;
    transition: all 0.3s ease 0s;
  }
  .header-burger:before{
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-burger.phone-active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.phone-active:after{
    transform: rotate(-45deg);
    bottom: 10px;
  }
  .header-burger.phone-active span {
    transform: scale(0);
  }

  .nav-bar.phone-active{
    top: 56px;
  }

  .nav-bar{
    position: absolute;
    width: 100%;
    top: -443px;
    height: 500px;
  }
  .nav-bar ul{
    flex-direction: column;
    margin: 0;
    margin-top: 38px;
  }
  .nav-bar ul a{
    text-decoration: none;
  }
  .nav-bar ul li{
    display: block;
    margin: 9px;
  }
  .nav-bar div.phone{
    display: none;
  }
  .nav-bar ul li:hover .sub-nav-bar ul {
    width: 190px;
  }

  .header-wth-sub-nav p{
    width: initial;
    margin-left: 5px;
  }

  .hover-me:hover .sub-sub-nav-bar{
    margin-left: 24px;
    margin-top: 8px;
  }
}
