#header{
    background-color:  #27A697;
}

.module caption{
    background-color:  #27A697;
}

div.breadcrumbs{
    background-color: #329587;
}

.button, input[type=button], .submit-row input{
    background-color:  #27A697;
}

.button, input[type=button], .submit-row input:hover{
    background-color: #2bb4a6;
}

.button.default, input[type=submit].default, .submit-row input.default{
    background-color: #4bbdac;
}

input[type=submit].default:hover, .submit-row input.default:hover{
        background-color: #3d998c;
}

.module h2, .inline-group h2{
    background-color: #2bb4a6;
}
