.dashboard #content{
    width: auto;
}

#content{
    margin: 0;
    padding: 20px 50px;
}

tbody{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

tbody tr{
    height: 150px;
    width: 150px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

td, th {
    padding: 0;
    border-bottom: 0;
}

tbody tr th{
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
}

tbody tr th:hover{
    background-color: #e3e3e3;
}

tbody tr th a:nth-child(1) {
    flex-grow: 1;
}



.a-model{
    margin: 0 auto 8px;
}

.img-model{
    /*filter: invert(70%) sepia(46%) saturate(296%) hue-rotate(155deg) brightness(87%) contrast(85%);*/
    filter: invert(42%) sepia(7%) saturate(2647%) hue-rotate(155deg) brightness(98%) contrast(91%);
    width: 100%;
}

.dashboard .module table th{
    width: 150px;
}

@media (max-width: 1024px){
    tbody tr{
        width: 20%;
    }
}