{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static "css/blog-psychologa.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/pagination.css" %}" type="text/css">
{% endblock %}

{% block title %}
Протидія булінгу
{% endblock %}

{% block content %}
    <div class="title"><p>Протидія булінгу</p></div>
    {% for post in object_list %}
            <div class="news">
                <div class="img-box"><a href="{% url 'bullying-detail' post.slug%}"><img class="img" src="/media/{{ post.img }}"></a></div>
                <div class="text">
                    <div style="display: flex; margin-bottom: 15px">
                        <img src="/static/ico/user.svg" style="width: 35px; margin-right: 10px">
                        <div class="creator">
                            <p>Адміністрація</p>
                            <p>{{ post.post_date }}</p>
                        </div>
                    </div>
                    <a style="text-decoration: none; color: #0E2231" href="{% url 'bullying-detail' post.slug%}">
                        <h4 class="post-title">{{ post.title }}</h4>
                        <p>{{ post.short_post }}</p>
                    </a>
                </div>
            </div>
    {% endfor %}
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <a href="{% url 'bullying' %}?page={{ page_obj.previous_page_number }}"><li><p>&laquo;</p></li></a>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }}</span></li>
                {% else %}
                    <a href="{% url 'bullying' %}?page={{ i }}"><li><p>{{ i }}</p></li></a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="{% url 'bullying' %}?page={{ page_obj.next_page_number }}"><li><p>&raquo;</p></li></a>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
