{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static "css/news1.css" %}" type="text/css">
{% endblock %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
    <div class="news-block">
        <div>{{ object.post|safe }}</div>
    </div>

    <script>
        if(window.innerWidth < 1024) {
          let postImg = document.querySelectorAll("div.post img");
          for (let i = 0; i<postImg.length; i++){
              postImg[i].style.width = '100%';
              postImg[i].style.height = '100%';
          }
        }
        let p = document.createElement('p');
        if(window.innerWidth < 1024) {
          let postIframe = document.querySelectorAll("div.news-block iframe");
          for (let i = 0; i<postIframe.length; i++){
              postIframe[i].style.display = 'none';
              p.innerHTML = '<div class="document-phone"><a href="'+ postIframe[i].src +'" download>Завантажити документ</a></div>';
              postIframe[i].insertAdjacentHTML('afterend', p.innerHTML);

              console.log(postIframe[i].src)
              console.log(p.innerHTML)
          }
        }
    </script>
{% endblock %}
