{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static "css/document-page.css" %}" type="text/css">
{% endblock %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block content %}
    <div class="title"><p>{{ object.name }}</p>
    <div class="document">
        {% for pdf in document_files %}
            {% if object.name == pdf.Document.name %}
                <div class="document-phone"><a href="../media/{{ pdf.documents }}" download>Завантажити документ<img SRC="/static/img/pdf.svg"></a></div>
                <embed src="../media/{{ pdf.documents }}" type="application/pdf" width="55%" height="1000"/>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
