{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static "/css/join-page5.css" %}" type="text/css">
{% endblock %}

{% block title %}
Набір до першого класу
{% endblock %}

{% block content %}
    <div class="title"><p>Набір до першого класу</p></div>
    <div class="sub-title"><h2>Прийом документів для вступу</h2><img src="/static/img/join-vector.png"></div>

    <div class="text">
        <h3 class="text-title">Головна мета нашої роботи:</h3>
        <p>Створення умов для всебічного гармонійного розвитку особистості</p>

        <h3 class="text-title">Принципи організації освітнього процесу:</h3>
            <p>
                Діти не готуються жити в майбутньому, а вже зараз живуть повноцінним життям.<br>
                Дитина пізнає оточуючий її світ через пізнання себе.<br>
                Вчитися повинно бути цікаво. Навчання має бути розвиваючим, формувати позитивне мислення.<br>
                Психологічно комфортна атмосфера - необхідна умова гармонійного розвитку особистості.<br>
                Дитина - втілення Любові, Радості і Краси, і має право жити в оточені любові, радості і краси.<br>
            </p>
        <br>
            <p>
                У закладі створені належні умови для навчання, виховання, відпочинку та збереження здоров’я дітей.<br>
                Затишні спальні кімнати, просторі світлі класи з сучасними меблями, обладнані ігрові кімнати.<br>
                Освітній процес сприяє всебічному  гармонійному розвитку особистості дитини, залучення її до культурного життя.<br>
            </p>
        <br>
            <p>
                Колективу школи вдалось створити найголовніше – поєднати зусилля тих, хто навчає, і тих, хто вчиться,<br>
                в єдиному прагненні перетворити рідну школу на стартову площадку для подальшого навчання.<br>
            </p>

        <h3 class="text-title">Структура</h3>
            <p>
                Освітній процес з 1-го класу здійснюється українською мовою за новим Державним стандартом початкової освіти Нова українська школа. Нова організація навчання, нові підручники, нові підходи та цінності.
                З метою подальшої реалізації пріоритетних напрямів навчальної діяльності та створення динамічної моделі закладу освіти у нас запроваджено:<br>
                <div style="margin-left: 10px">
                    <p>
                    - паралельне вивчення 2-х іноземних мов (англійської та польської);<br>
                    - вивчення інформатики з 2-го класу<br>
                    </p>
                </div>
            </p>
        <br>
            <p>З 8.30 до 19.00 на дітей чекають: досвідчені вчителі та вихователі, домашній затишок, цікаве дозвілля в другій половині дня.</p>
        <br>
            <p>Освітній процес забезпечують 23 педагогічних працівника:<br>
                <div style="margin-left: 10px">
                    <p>
                    — 13 вчителів;<br>
                    — 3 адміністрація;<br>
                    — 7 вихователів ГПД;<br>
                    — 1 практичний психолог.<br>
                    </p>
                </div>
            </p>
    </div>
    <div class="document"><embed src="/media/files/Прийом_документів_для_зарахування_до_першого_класу.pdf" type="application/pdf" width="55%" height="1000"/></div>
    <div class="document-phone"><a href="/media/files/Прийом_документів_для_зарахування_до_першого_класу.pdf" download>Завантажити документ<img src="/static/img/pdf.svg"></a></div>
{% endblock %}
