{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static "css/employees-page.css" %}" type="text/css">
{% endblock %}

{% block title %}
Наш колектив
{% endblock %}

{% block content %}
    <div class="box">
        <div class="title"><p>Наш колектив</p></div>

        <img class="title-img" src="/static/img/administration.png"><h2 class="sub-title">Адміністрація</h2>
        <div class="employees">
            {% for Administration in Employees reversed %}
                {% if Administration.type|stringformat:'s' == 'Адміністрація' %}
                    <div class="employees-block" >
                        <div class="img"><img style="width: 200px" src="../media/{{ Administration.photo }}" alt="{{ Administration.name }} {{ Administration.surname }}"></div>
                        <div style="margin-top: 40px;">
                            <p class="name"><strong>{{ Administration.surname }} {{ Administration.name }} {{ Administration.po_batkovi }}</strong></p>
                            <p class="position">{{ Administration.position }}</p>
                            <div class="about">{{ Administration.about|safe }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

       <h2 class="sub-title">Вчителі</h2> <img class="title-img title-teacher-img" src="/static/img/teacher.png">
        <div id="invisible" class="employees">
            {% for Teacher in Employees %}
                {% if Teacher.type|stringformat:'s' == 'Вчителі' %}
                    <div class="employees-block">
                        <div class="img"><img style="width: 200px" src="../media/{{ Teacher.photo }}" alt="{{ Teacher.name }} {{ Teacher.surname }}"></div>
                        <div style="margin-top: 40px;">
                            <p class="name"><strong>{{ Teacher.surname }} {{ Teacher.name }} {{ Teacher.po_batkovi }} </strong></p>
                            <p class="position">{{ Teacher.position }}</p>
                            <div class="about">{{ Teacher.about|safe }}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if Count >= 6%}
            <button id="btn" onclick="readMore()">
                <div style="display: flex; margin-left: 30px; margin-right: 30px"><p>Дивитись більше</p><img style="margin-left: 14px" src="/static/img/arrow-bottom.png"></div>
            </button>
        {% endif %}

        <div style="margin-bottom: 135px">
            <h2 class="sub-title" style="margin-top: 95px">Вакансії</h2><img class="title-img title-vacancy-img" src="/static/img/day(5).png">
            {% if Vacancy %}
                <div style="margin-top: -35px">
                    <p class="need">НВК « Турбота» потрібні:</p>
                    {% for vacancy in Vacancy %}
                        <p class="vacancy">— {{ vacancy.vacancy }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>

    {% block scripts %}
        <script src="/static/js/readMore.js"></script>
    {% endblock %}

{% endblock %}
