{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static "css/blog-psychologa1.css" %}" type="text/css">
{% endblock %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
    <div class="news-block">
        <div style="display: flex; margin-bottom: 30px">
            <img style="height: 35px; margin-right: 10px" src="/static/ico/user.svg">
            <div style="display:flex; padding-top: 8px"><p>Психолог</p><div class="dot"></div><p>{{ object.post_date }}</p></div>
        </div>
        <h3>{{ object.title }}</h3>
        <div>{{ object.post|safe }}</div>
    </div>

    <script>
        let p = document.createElement('p');
        if(window.innerWidth < 1024) {
          let postIframe = document.querySelectorAll("div.news-block iframe");
          for (let i = 0; i<postIframe.length; i++){
              postIframe[i].style.display = 'none';
              p.innerHTML = '<div class="document-phone"><a href="'+ postIframe[i].src +'" download>Завантажити документ<img SRC="/static/img/pdf.svg"></a></div>';
              postIframe[i].insertAdjacentHTML('afterend', p.innerHTML);

              console.log(postIframe[i].src)
              console.log(p.innerHTML)
          }
        }
    </script>
{% endblock %}
